.display {
  display: flex;
  justify-content: space-between;
}

.nameSpace img {
  height: 90px;
  margin: 10px 20px 6px 20px;
}
.nameSpace {
  display: flex;
  align-items: center;
}
.nameSpace h3 {
  font-family: 'Poppins', sans-serif;
  color: #B3B3B3;
}
.contactInfo {
  margin: 10px 20px 6px 20px;
  font-family: 'Poppins', sans-serif;
  color: #B3B3B3;
}

.main {
  background-color: #1B4536;
}
mat-toolbar-row {
  height: 5%;
}
.footerBG {
  color: #37474F;
}
