.fill-remaining-space {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#navBar {
  color:white;
}

.userMenu {
  display: flex;
  cursor: pointer;
}

#negative-space{
  width: 5px;
}
.centerIcon {
  align-self: center;
}
