<button class="switchBtn" (click)="showRegistration()">{{buttonName}}</button>

    <div *ngIf="registration" class="registerForm">

      <label for="firstName">First Name: </label>
      <input [(ngModel)]="registrationForm.firstName" id="firstName" type="text"/>

      <label for="lastName">Last Name: </label>
      <input [(ngModel)]="registrationForm.lastName" id="lastName" type="text"/>

      <label for="email">Email: </label>
      <input [(ngModel)]="registrationForm.email" id="email" type="text"/>

      <label for="username">Username: </label>
      <input [(ngModel)]="registrationForm.username" id="username" type="text"/>

      <label for="password">Password: </label>
      <input [(ngModel)]="registrationForm.password" id="password" type="password"/>

      <br/>

      <button (click)="userRegistration(registrationForm)">Complete Registration!</button>
    </div>

    <div *ngIf="loginPage" class="registerForm">
      <label for="loginUsername">Username: </label>
      <input [(ngModel)]="form.username" id="loginUsername" />

      <label for="loginPassword">Password: </label>
      <input [(ngModel)]="form.password" id="loginPassword" type="password"/>

      <br/>
      <button (click)="userLogin()">Sign In!</button>
    </div>



