li {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  height: 100px;
  width: 100%;
}
button {
  color: #F5B842;
  border: 0;
  width: 100%;
  padding: 25px;
  background-color: #2A2822;
}

button:focus {
  outline: none;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.horizontalList {
  position: fixed;
}

#sideBar {
  height: 100%;
}
