<mat-sidenav-container id="sideBar">
  <mat-sidenav>
    <li>
      <button (click)="getMovies()">Top Rated Movies</button>
    </li>
    <li>
      <button (click)="getGenre(27, 'Horror Movies')">Horror</button>
    </li>
    <li>
      <button (click)="getGenre(35, 'Comedy Movies')">Comedy</button>
    </li>
    <li>
      <button (click)="getGenre(18, 'Drama Movies')">Drama</button>
    </li>
    <li>
      <button (click)="getGenre(28, 'Action Movies')">Action</button>
    </li>
    <li>
      <button (click)="getGenre(878, 'Science Fiction Movies')">Sci-Fi</button>
    </li>
  </mat-sidenav>

  <mat-sidenav-content>
  </mat-sidenav-content>
