@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

*{

}

body, html {

  margin: 0;

  padding: 0;

  font-size:1vw;

  background-color: #42413B;

}

html{

  height: 100vh;

}

body{

  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
