
mat-list-item button {
  width: 100%;
  text-align: left;
}
mat-list-item .menuButton {
  width: 100%;
  text-align: left;
}

#sbContent {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#topRatedSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 15%;
  color: #1A1A1A;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
  #topRatedSection {
    height: 100%;
    margin-left: 32%;
  }
}

#topRatedSection a {
  color: white;
}
.movieContent img {
  width: 65%;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 50px;
  padding-right: 0;
}
.menuButton {
  padding-left: 0;
}
mat-card {
  width: 22%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff7043;
}

@media only screen and (max-width: 768px) and (min-width: 320px){
  .mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    margin: 10px;
    width: 30%;
  }
}
.movieContent {
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 5px 0;
}
.underImg {
  margin-left: 5px;
}
#sideNav {
  height: 100%;
  width: 15%;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
  #sideNav {
    height: 100%;
    width: 30%;
  }
}
#sideBar {
  height: 91%;
}
