<!--  <section id="sideBar">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </section>-->

<mat-sidenav-container [hasBackdrop]="false" id="sideBar">
  <mat-sidenav id="sideNav" #sidenav [mode]="side" opened="true" disableClose>
    <mat-action-list>
      <mat-list-item>
        <button mat-icon-button (click)="getMovies()">Top Rated Movies</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getUpcomingMovies()">Upcoming Movies</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getPopularMovies()">Popular Movies</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getGenre(27, 'Horror Movies')">Horror</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getGenre(35, 'Comedy Movies')">Comedy</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getGenre(18, 'Drama Movies')">Drama</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getGenre(28, 'Action Movies')">Action</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="getGenre(878, 'Science Fiction Movies')">Sci-Fi</button>
      </mat-list-item>
      <mat-list-item>
        <button *ngIf="!editMode" (click)="editModeToggle()"><button mat-button class="menuButton"> Search </button></button>
        <input [(ngModel)]="keyword" autofocus *ngIf="editMode" type="text" style="border: none;" /><button (click)="getMoviesByKeyword(keyword)"><mat-icon style="cursor: pointer">search</mat-icon></button>
      </mat-list-item>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content id="sbContent">
      <section id="topRatedSection">
        <div class="title">
          {{ this.moviesService.movieListTitle }}
        </div>
        <div class="cardList">
          <mat-card *ngFor="let movie of this.moviesService.data" class="movieContent">
            <mat-card-header>
              <mat-card-title id="movieTitle">
                {{movie.title}}
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" style="width: 100%; margin: 0; padding: 0;"/>
              <div class="underImg">
                Rating Average: {{movie.vote_average}}
              </div>
              <div class="underImg">
                <mat-icon (click)="favoriteMovie(movie.id, true)" style="cursor: pointer"
                          [ngClass]="{'favorited' : movie.favorited, 'notFavorited' : !movie.favorited}">star</mat-icon>
              </div>
              <div class="underImg">
                <a href="localhost:4200/movie/{{movie.id}}"> View details >> </a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </section>
  </mat-sidenav-content>
</mat-sidenav-container>

